#buttons span.on{
	background-color: orangered;
}
#buttons span{
	background-color: #333;
}
.arrow{
	color:#fff;
	background-color: rgba(0,0,0,0.3);
}
#container:hover .arrow{
	display: block;
}
.arrow:hover{
	background-color: rgba(0,0,0,0.7);
}